.banner {
  width: 100%;
  height: 400px;
  margin-bottom: 80px;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    margin: 0;
    color: var(--heading);
    margin-bottom: 24px;
  }

  > section {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    color: var(--info);
    align-items: center;

    time, section {
      display: flex;
      align-items: center;

    }

    svg {
      margin-right: 8px;
    }

    section {
      margin-left: 24px;
    }
  }

  .edited {
    margin-top: 16px;
    font-size: 14px;
    line-height: 14px;
  }

  .postContent {
    margin-top: 64px;

    h2 {
      font-size: 36px;
      line-height: 36px;
      color: var(--heading);
      font-weight: bold;
      margin: 0;
    }

    div {
      margin-top: 40px;
    }

    div:last-child {
      margin-bottom: 60px;
    }

    p {
      font-size: 18px;
      line-height: 18px;
      font-weight: regular;
      color: var(--body);
    }
  }

  .separator {
    border: 1px solid var(--separator);
  }

  .navPosts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 60px;

    .prevPost {
      text-align: left;
    }

    .nextPost {
      text-align: right;
      align-self: flex-end;
    }

    .prevPost, .nextPost {
      height: 50px;
      color: var(--heading);
      font-size: 18px;
      line-height: 18px;
      display: block;

      strong {
        color: var(--highlight);
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        display: block;
        margin-top: 8px;
      }
    }
  }

}
